.t3-page-column {
  min-width: 0;
  max-width: none;
}

.t3-page-column-header {
  min-width: 95px;
  padding: 5px 10px;
}

.t3-page-ce-header {
  min-width: 150px;
}

.t3-page-columns {
  border-spacing: 10px!important;
}

.t3-page-ce:hover .t3-page-ce-header {
  background: #eaeaea;
}

.t3-page-ce:hover > div > .t3-page-ce-header {
  background: #d0d0d0;
}

.t3-page-ce:hover .t3-page-ce-header, .t3-page-ce:hover .t3-page-ce-body {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.t3-page-ce:hover > div > .t3-page-ce-header, .t3-page-ce:hover > div > .t3-page-ce-body {
  border-color: #aaaaaa;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.t3-page-ce-dropzone-available.active {
  border: 1px dashed #e18c2f;
  border-radius: 2px;
  background-color: #f5e6d3;
  height: 27px;
}

.t3-page-ce-dropzone-possible {
  border: none;
  border-radius: 0;
  background: none;
}

.t3-page-ce-dropzone-available.active.t3-page-ce-dropzone-possible {
  border: 1px dashed #79a548;
  border-radius: 2px;
  background-color: #d1e2bd;
  margin: -38px 0 -37px 0;
  padding: 50px 10px;
  z-index: 500;
  position: relative;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.t3-page-ce-dragitem.dragitem-shadow {
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: 0 1px 24px rgba(0, 0, 0, 0.50);
}

#typo3-index-php .t3-grid-container-title-0 {
  font-size: 12px;
  font-weight: normal;
  color: #999999;
  padding: 5px 10px;
  margin: 0;
}

#typo3-index-php .t3-grid-container-1 {
  border-style: solid;
  border-width: 1px;
  border-color: #B48062;
  margin: 5px -11px -11px -11px;
}

#typo3-index-php .t3-grid-container-title-1 {
  font-size: 12px;
  font-weight: normal;
  color: #5A4031;
  background: #D9BFB0;
  padding: 5px 10px;
  margin: 0;
}

#typo3-index-php .t3-grid-container-2 {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #BABD5A;
  margin: 2px 0 0 0;
}

#typo3-index-php .t3-grid-container-title-2 {
  font-size: 12px;
  font-weight: normal;
  color: #5D5F2D;
  background: #DCDEAC;
  padding: 5px 10px;
  margin: 0;
}

#typo3-index-php .t3-grid-container-3 {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #427BAB;
  margin: 2px 0 0 0;
}

#typo3-index-php .t3-grid-container-title-3 {
  font-size: 12px;
  font-weight: normal;
  color: #213E56;
  background: #A0BDD5;
  padding: 5px 10px;
  margin: 0;
}

#new-element-drag-in-wizard {
	position: fixed;
	height: auto;
	top: -1px;
	right: -1px;
	max-width: 90%;
	z-index: 20000;
	float: right;
	/* setting overflow makes items disappear when dragging
	   * solution:  when dragging starts, put the element right after body in DOM
	   */
}

#new-element-drag-in-wizard .nav-tabs {
	margin: 0;
	text-align: right;
}

#new-element-drag-in-wizard .nav-tabs li {
	display: inline-block;
	float: none;
}

#new-element-drag-in-wizard .nav-tabs a {
	padding: 6px 12px;
	font-weight: normal;
}

#new-element-drag-in-wizard .nav-tabs a img {
	display: none;
}

#new-element-drag-in-wizard .tab-content {
	margin: 0 1px 0 0;
	clear: both;
}

#new-element-drag-in-wizard .tab-content:hover {
	min-height: 122px;
}

#new-element-drag-in-wizard .nav-tabs {
	margin: 0;
	text-align: right;
}

#new-element-drag-in-wizard .nav-tabs li {
	display: inline-block;
	float: none;
}

#new-element-drag-in-wizard .nav-tabs a {
	padding: 6px 12px;
	font-weight: normal;
}

#new-element-drag-in-wizard .nav-tabs a img {
	display: none;
}

#new-element-drag-in-wizard .tab-content {
	margin: 0 1px 0 0;
	clear: both;
}

#new-element-drag-in-wizard .tab-content:hover {
	min-height: 122px;
}

#new-element-drag-in-wizard .media {
	display: inline-block;
	margin-top: 0;
}

#new-element-drag-in-wizard .media-left {
	display: block;
}

#new-element-drag-in-wizard .media-body {
	width: auto;
}

#new-element-drag-in-wizard .panel-body {
	padding: 5px 10px;
}

#new-element-drag-in-wizard .panel-tab:hover {
	min-height: 122px;
}

#typo3-index-php .exampleContent > .reference {
	position: relative;
	margin-top: 7px;
}

#typo3-index-php .exampleContent > .reference .t3-page-ce-header-icons-right,
#typo3-index-php .exampleContent > .reference .t3-page-ce-wrapper-new-ce,
#typo3-index-php .exampleContent > .reference .t3-page-ce-dropzone-available {
	display: none!important;
}

#typo3-index-php .exampleContent > .reference .reference-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #427BAB;
	opacity: 0.15;
	filter: alpha(opacity=15);
}
