* {
	padding: 0;
	margin: 0;
	position: relative;
}

body {
	padding: 10px;
}

table#outer_container td, table#editor td {
	vertical-align: middle;
	padding: 0px 10px 10px 0px;
}

table#outer_container td.editor_cell {
	height: 100%;
}

table.editor {
	border-right: 1px gray dashed;
	border-bottom: 1px gray dashed;
}

table.editor td {
	border-top: 1px gray dashed;
	border-left: 1px gray dashed;
	text-align: center;
	z-index: 2000;
	background-color: white;
	min-height: 100px;
}

div#editor {
	height: 100%;
}

div.cell_container {
	width: 60px;
	height: 60px;
	position: relative;
	left: 50%;
	margin-left: -30px;
	opacity: 0.3;
}

div.cell_container:hover {
	opacity: 1;
}

.link_expand_right, .link_shrink_left, .link_expand_down, .link_shrink_up, .link_editor {
	display: block;
	position: absolute;
	width: 14px;
	height: 32px;
	z-index: 1100;
}

.link_expand_down, .link_shrink_up {
	width: 32px;
	height: 14px;
}

.link_expand_right {
	left: 46px;
	top: 14px;
}

.link_expand_right:hover {
}

.link_shrink_left {
	left: 0px;
	top: 14px;
}

.link_shrink_left:hover {
}

.link_expand_down {
	left: 14px;
	top: 46px;
}

.link_expand_down:hover {
}

.link_shrink_up {
	left: 14px;
	top: 0px;
}

.link_shrink_up:hover {
}

.link_editor {
	width: 32px;
	height: 32px;
	left: 14px;
	top: 14px;
}

.link_editor:hover {
}

.question {
}

.save {
}

.cancel {
}

table#outer_container td, table#editor td {
	vertical-align: middle;
}

table#outer_container td.editor_cell {
	height: 100%;
}

table.editor {
	border-right: 1px gray dashed;
	border-bottom: 1px gray dashed;
}

table.editor td {
	border-top: 1px gray dashed;
	border-left: 1px gray dashed;
	text-align: center;
	z-index: 2000;
	background-color: white;
	min-height: 100px;
}

div#editor {
	height: 100%;
}

div.cell_container {
	width: 60px;
	height: 60px;
	position: relative;
	left: 50%;
	margin-left: -30px;
	opacity: 0.3;
}

div.cell_container:hover {
	opacity: 1;
}

.link_expand_right, .link_shrink_left, .link_expand_down, .link_shrink_up, .link_editor {
	display: block;
	position: absolute;
	width: 14px;
	height: 32px;
	z-index: 1100;
}

.link_expand_down, .link_shrink_up {
	width: 32px;
	height: 14px;
}

.link_expand_right {
	left: 46px;
	top: 14px;
}

.link_expand_right:hover {
}

.link_shrink_left {
	left: 0px;
	top: 14px;
}

.link_shrink_left:hover {
}

.link_expand_down {
	left: 14px;
	top: 46px;
}

.link_expand_down:hover {
}

.link_shrink_up {
	left: 14px;
	top: 0px;
}

.link_shrink_up:hover {
}

.link_editor {
	width: 32px;
	height: 32px;
	left: 14px;
	top: 14px;
}

.link_editor:hover {
}

.question {
}

.save {
}

.cancel {
}

.x-fieldset-body {
	padding-bottom: 50px;
}