<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Default">
    <f:render partial="Default" section="Default" arguments="{data: data, children: children, options: options}"/>
</f:section>

<f:section name="Columns">
    <f:render partial="Default" section="Columns" arguments="{data: data, children: children, options: options}"/>
</f:section>

<f:section name="Rows">
    <f:render partial="Default" section="Rows" arguments="{data: data, children: children, options: options}"/>
</f:section>

</html>